<?xml version="1.0"?>
<connectionStrings>
  <add name="SEGU" connectionString="User Id=segu; Password=seguteso2; 
      Data Source=10.50.90.117:1521/PRE1;
      Pooling=true;
      Enlist=false;
      Statement Cache Size=50;
      Min Pool Size=5;
      Incr Pool Size=2;
      Decr Pool Size=1;" providerName="Oracle.DataAccess.Client" />
</connectionStrings>