/*APPS COLOURS!!!!*/
.matenimiento-bg,
.mant-bg {
  background-color: #3f51b5 !important;
}
.matenimiento-color,
.mant-color {
  color: #3f51b5 !important;
}
.seguridad-bg,
.seg-bg {
  background-color: #d32f2f !important;
}
.seguridad-color,
.seg-color {
  color: #d32f2f !important;
}
.gep-bg {
  background-color: #29b6f6 !important;
}
.gep-color {
  color: #29b6f6 !important;
}
.siep-bg,
.sie-bg {
  background-color: #009688 !important;
}
.siep-color,
.sie-color {
  color: #009688 !important;
}
.ruco-bg,
.ruc-bg {
  background-color: #7e57c2 !important;
}
.ruco-color,
.ruc-color {
  color: #7e57c2 !important;
}
.portal-bg,
.por-bg {
  background-color: #9ACA3C !important;
}
.portal-color,
.por-color {
  color: #9ACA3C !important;
}
.map-bg {
  background-color: #c0ca33 !important;
}
.map-color {
  color: #c0ca33 !important;
}
.cdp-bg {
  background-color: #388e3c !important;
}
.cdp-color {
  color: #388e3c !important;
}
.gpr-bg,
.gri-bg {
  background-color: #fbc02d !important;
}
.gpr-color,
.gri-color {
  color: #fbc02d !important;
}
.gdr-bg {
  background-color: #fb8c00 !important;
}
.gdr-color {
  color: #fb8c00 !important;
}
.sds-bg,
.sdh-bg {
  background-color: #00acc1 !important;
}
.sds-color,
.sdh-color {
  color: #00acc1 !important;
}
.ente-bg {
  background-color: #c33c69 !important;
}
.ente-color {
  color: #c33c69 !important;
}
.conc-bg {
  background-color: #ff7043 !important;
}
.conc-color {
  color: #ff7043 !important;
}
.ada-bg {
  background-color: #a50a97 !important;
}
.ada-color {
  color: #a50a97 !important;
}
.idg-bg {
  background-color: #6b8e26 !important;
}
.idg-color {
  color: #6b8e26 !important;
}
.ren-bg {
  background-color: #CE5811 !important;
}
.ren-color {
  color: #CE5811 !important;
}
