<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<!-- Tag de configuracion que asocia el Hibernate con El repositorio donde se encuentra el modelo -->
	<hibernate-configuration configSource="Hibernate.config" />
	<!-- Tag que asocia la aplicacion con el string de acceso a base de datos-->
	<connectionStrings configSource="zConexiones\ConectionDB-SEG-DESACG.config" />
	<appSettings>
		<add key="Ambiente" value="localhost" />
		<!--<add key="owin:AutomaticAppStartup" value="false" />-->
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="Context" value="Web" />
		<add key="PublicServer" value="false" />
		<!--Version de la aplicacion-->
		<add key="version" value="1.0.3.RC2" />
		<!-- Fecha de ultima actualizacion de la aplicacion-->
		<add key="dateVersion" value="26-10-2021" />
		<!--LOG4NET - configuracion -->
		<add key="URL_LOG4NET_CONFIG" value="log4net.xml" />
		<add key="ENVIRONMENT_LOG" value="_DEV" />
		<!--Clave de acceso del servicio de seguridad-->
		<add key="CLAVE_SERVICIO" value="20tgp17" />
		<!-- Direccion de la API de destino -->
		<add key="UrlApiDestino" value="http://localhost:54508/api/seguridad/" />
		<!--XML con los css de las aplicaciones-->
		<add key="AplicacionXmlFuente" value="C:\TGP-Proyectos\TGP-Seguridad\Trunk\TGP-Seguridad\TGP.API.SEG\Helper\Aplicacion.xml" />

    <!--url por ambiente-->
    <add key="POR" value="http://ws-tesoreria.cgp.sigaf.bajos/portal_capa/" />
    <add key="MAN" value="http://ws-tesoreria.cgp.sigaf.bajos/Mantenimiento_capa/Account/ExternalLogin" />
    <add key="SEG" value="http://ws-tesoreria.cgp.sigaf.bajos/seguridad_capa/Account/ExternalLogin" />
    <add key="SIE" value="http://ws-tesoreria.cgp.sigaf.bajos/SIEP_capa/Account/ExternalLogin" />
    <add key="RUC" value="http://ws-tesoreria.cgp.sigaf.bajos/ruco_capa/Account/ExternalLogin" />
    <add key="MAP" value="http://ws-tesoreria.cgp.sigaf.bajos/MedidasDeAfectacionPatrimonial_capa/Account/ExternalLogin" />
    <add key="GEP" value="http://ws-tesoreria.cgp.sigaf.bajos/GestionElectronicaDePago_capa/Account/ExternalLogin" />
    <add key="CDP" value="http://ws-tesoreria.cgp.sigaf.bajos/ConsultaDePagos_capa/Account/ExternalLogin" />
    <add key="GRI" value="http://ws-tesoreria.cgp.sigaf.bajos/GestionRetencionesImpositiva_capa/Account/ExternalLogin" />
    <add key="GDR" value="http://ws-tesoreria.cgp.sigaf.bajos/GestionRecursos_capa/Account/ExternalLogin" />
    <add key="SDH" value="http://ws-tesoreria.cgp.sigaf.bajos/SeguimientoDeSueldos_capa/Account/ExternalLogin" />
    <add key="ENTE" value="http://ws-tesoreria.cgp.sigaf.bajos/Ente_capa/Account/ExternalLogin" />
    <add key="CONC" value="https://sigafpbacapa.tesoreria.gba.gov.ar/Conciliacion/Account/ExternalLogin" />
    <add key="REN" value="https://sigafpbacapa.tesoreria.gba.gov.ar/Rendiciones/Account/ExternalLogin" />
    <add key="ADL" value="https://sigafpbacapa.tesoreria.gba.gov.ar/AdministradoresLocales/Account/ExternalLogin" />
    <add key="PFI" value="https://sigafpbacapa.tesoreria.gba.gov.ar/PlanificacionFinanciera/Account/ExternalLogin" />
    <add key="GDP" value="https://sigafpbacapa.tesoreria.gba.gov.ar/GestionDePagos/Account/ExternalLogin" />
    <add key="CLP" value="https://sigafpbacapa.tesoreria.gba.gov.ar/CertLiqProvisoria/Account/ExternalLogin" />
    <add key="SCUT" value="https://sigafpbacapa.tesoreria.gba.gov.ar/SCUT/Account/ExternalLogin" />
    <add key="BON" value="https://sigafpbacapa.tesoreria.gba.gov.ar/Bonos/Account/ExternalLogin" />
    <add key="SEGREACT" value="http://sigafpbacapa.tesoreria.gba.gov.ar/SeguridadV4Capa/" />
    
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1" />
		<globalization uiCulture="es-ES" culture="es-ES" />
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Remotion.Linq.EagerFetching" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.0 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
	</system.codedom>
</configuration>
