<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings configSource="zConexiones\ConectionDB-SEG-TESTCG.config" xdt:Transform="Replace"/>
  <appSettings>
    <add key="UrlApiDestino" value="http://sigafpbacapa.tesoreria.gba.gov.ar/TGP.API.Seguridad/api/seguridad/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- log4net -->
    <add key="ENVIRONMENT_LOG" value="_TEST"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--XML con los css de las aplicaciones-->
    <add key="AplicacionXmlFuente" value="C:\inetpub\wwwroot\TGP.API.Seguridad_test\Helper\Aplicacion.xml"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />


    <!--url por ambiente-->
    <add key="POR" value="http://ws-tesoreria.cgp.sigaf.bajos/portal_test/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MAN" value="http://ws-tesoreria.cgp.sigaf.bajos/Mantenimiento_test/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SEG" value="http://ws-tesoreria.cgp.sigaf.bajos/TGPSeguridad_test/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SIE" value="http://ws-tesoreria.cgp.sigaf.bajos/SIEP_test/Account/ExternalLogin"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RUC" value="http://ws-tesoreria.cgp.sigaf.bajos/Ruco_test/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MAP" value="http://ws-tesoreria.cgp.sigaf.bajos/MedidasDeAfectacionPatrimonial_test/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GEP" value="http://ws-tesoreria.cgp.sigaf.bajos/GestionElectronicaDePago_test/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CDP" value="http://ws-tesoreria.cgp.sigaf.bajos/ConsultaDePagos_test/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GRI" value="http://ws-tesoreria.cgp.sigaf.bajos/GestionRetencionesImpositiva_test/Account/ExternalLogin"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GDR" value="http://ws-tesoreria.cgp.sigaf.bajos/GestionRecursos_test/Account/ExternalLogin"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SDH" value="http://ws-tesoreria.cgp.sigaf.bajos/SeguimientoDeSueldos_test/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ENTE" value="http://ws-tesoreria.cgp.sigaf.bajos/Ente_test/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CONC" value="http://ws-tesoreria.cgp.sigaf.bajos/Conciliacion_test/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="REN" value="http://ws-tesoreria.cgp.sigaf.bajos/Rendiciones_test/Account/ExternalLogin"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="ADL" value="http://ws-tesoreria.cgp.sigaf.bajos/AdministradoresLocales_test/Account/ExternalLogin"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="PFI" value="http://ws-tesoreria.cgp.sigaf.bajos/PlanificacionFinanciera_test/Account/ExternalLogin"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="GDP" value="http://ws-tesoreria.cgp.sigaf.bajos/GestionDePagos_test/Account/ExternalLogin"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="CLP" value="http://ws-tesoreria.cgp.sigaf.bajos/CertLiqProvisoria_test/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SCUT" value="http://ws-tesoreria.cgp.sigaf.bajos/SCUT_test/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BON" value="http://ws-tesoreria.cgp.sigaf.bajos/Bonos_test/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SEGREACT" value="http://ws-tesoreria.cgp.sigaf.bajos/SeguridadV4Test/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
  </appSettings>
</configuration>