<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings configSource="zConexiones\ConectionDB-SEG-PRODCG.config" xdt:Transform="Replace"/>
  <appSettings>
    <add key="UrlApiDestino" value="http://sigafpba.tesoreria.gba.gov.ar/TGPAPISeguridad/api/seguridad/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- log4net -->
    <add key="ENVIRONMENT_LOG" value="_PROD"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--XML con los css de las aplicaciones-->
    <add key="AplicacionXmlFuente" value="C:\inetpub\wwwroot\TGPAPISeguridad\Helper\Aplicacion.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


    <!--url por ambiente-->
    <add key="POR" value="https://sigafpba.tesoreria.gba.gov.ar/portal/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MAN" value="https://sigafpba.tesoreria.gba.gov.ar/Mantenimiento/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SEG" value="https://sigafpba.tesoreria.gba.gov.ar/TGPSeguridad/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SIE" value="https://sigafpba.tesoreria.gba.gov.ar/SIEP/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RUC" value="https://sigafpba.tesoreria.gba.gov.ar/ruco/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MAP" value="https://sigafpba.tesoreria.gba.gov.ar/MedidasDeAfectacionPatrimonial/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GEP" value="https://sigafpba.tesoreria.gba.gov.ar/GestionElectronicaDePago/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CDP" value="https://sigafpba.tesoreria.gba.gov.ar/ConsultaDePagos/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GRI" value="https://sigafpba.tesoreria.gba.gov.ar/GestionRetencionesImpositiva/Account/ExternalLogin"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GDR" value="https://sigafpba.tesoreria.gba.gov.ar/GestionRecursos/Account/ExternalLogin"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SDH" value="https://sigafpba.tesoreria.gba.gov.ar/SeguimientoDeSueldos/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ENTE" value="https://sigafpba.tesoreria.gba.gov.ar/Ente/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CONC" value="https://sigafpba.tesoreria.gba.gov.ar/Conciliacion/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="REN" value="https://sigafpba.tesoreria.gba.gov.ar/Rendiciones/Account/ExternalLogin"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="ADL" value="https://sigafpba.tesoreria.gba.gov.ar/AdministradoresLocales/Account/ExternalLogin"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="PFI" value="https://sigafpba.tesoreria.gba.gov.ar/PlanificacionFinanciera/Account/ExternalLogin"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="GDP" value="https://sigafpba.tesoreria.gba.gov.ar/GestionDePagos/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CLP" value="https://sigafpba.tesoreria.gba.gov.ar/CertLiqProvisoria/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SCUT" value="https://sigafpba.tesoreria.gba.gov.ar/SCUT/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BON" value="https://sigafpba.tesoreria.gba.gov.ar/Bonos/Account/ExternalLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SEGREACT" value="https://sigafpba.tesoreria.gba.gov.ar/SeguridadV4/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
  </appSettings>
</configuration>