@{
    ViewBag.Title = "Seg - Inicio";
    Layout = "~/Views/Shared/_Layoutbootstrap.cshtml";
}
<div class="uk-width-1-1">
    <div class="uk-flex uk-flex-center">
        <div class="tituloHome">
            Seg
        </div>
    </div>
</div>
