<?xml version="1.0"?>
<connectionStrings>
  <add name="TGP" connectionString="User Id=tgp; Password=tgptest18; 
      Data Source=192.168.140.20:1528/TESTCG;
      Pooling=true;
      Enlist=false;
      Statement Cache Size=50;
      Min Pool Size=5;
      Incr Pool Size=2;
      Decr Pool Size=1;" providerName="Oracle.DataAccess.Client" />
</connectionStrings>