<?xml version="1.0"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
    <property name="current_session_context_class">web</property>
    <!--<property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>-->
    <property name="connection.driver_class">NHibernate.Driver.OracleDataClientDriver</property>
    <property name="connection.connection_string_name">TGP</property>
    <property name="default_schema">TGP</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="adonet.batch_size">500</property>
    <mapping assembly="TGP.Seguridad.DataAccess" />
  </session-factory>
</hibernate-configuration>