<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings configSource="zConexiones\ConectionDB-DESA.config" xdt:Transform="Replace"/>
	<appSettings>
		<!--url por ambiente -->
		<add key="PortalURL" value="http://10.50.90.4/portal/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="LoginURL" value="http://10.50.90.4/portal/Account/Login" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="serverLocation" value="ws-tesoreria.cgp.sigaf.bajos/DESACG" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="CopiaMailAcreedor" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


		<add key="SeguridadDestino" value="zConexiones\ConectionDestinoDB-TESTCG.config"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Direccion de la API de destino -->
		<!--<add key="UrlApiDestino" value="http://ws-tesoreria.cgp.sigaf.bajos/TGP.API.Seguridad_test/api/seguridad/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->

		<!-- Datos para envio de Mails -->
		<add key="SI_ENVIAR_EMAIL_ERROR" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EMAIL_FROM" value="portal@tesoreria.gba.gov.ar" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EMAIL_TO" value="jsabatini@tesoreria.gba.gov.ar,aayala@tesoreria.gba.gov.ar" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EMAIL_NETWORK_CREDENTIAL_USERNAME" value="portal" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EMAIL_NETWORK_CREDENTIAL_PASSWORD" value="tgpadmin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EMAIL_SMPT" value="mailserver" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!-- Fin Datos para envio de Mails -->
		<!-- log4net -->
		<add key="ENVIRONMENT_LOG" value="_DESACG"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Fin log4net -->

		<add key="WebResources" value="http://ws-tesoreria.cgp.sigaf.bajos/ResourceDesign/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!--Key que hacer referencia al archivo donde se toma a la fuente de logs por ambiente y aplicacion-->
		<add key="AuditoriaAplicacionXmlFuente" value="C:\\inetpub\\wwwroot\TGPSeguridad_desa\\Helpers\\AuditoriaAplicacionArchivoLogFuente_Desa.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="Imagenes" value="http://sigafpba.tesoreria.gba.gov.ar/resourceDesign/Imagenes/"/>
		<!--API SEGURIDAD -->
		<!--<add key="UrlApiSegNuevaNovedad" value="http://ws-tesoreria.cgp.sigaf.bajos/TGP.API.Seguridad_desa/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
		<!--Metodo para obtener la novedades-->
		<add key="SegApi_Metodo_ObtenerNovedades" value="api/seguridad/obtenerNovedades" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!--Clave de acceso del servicio de seguridad-->
		<add key="CLAVE_SERVICIO" value="20tgp17" />
		<!--URL donde estan las novedades-->
		<add key="PORTAL_LISTADO_NOVEDADES" value="http://10.50.90.4/portal/Novedades/Lista" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!--XML con los css de las aplicaciones-->
		<add key="AplicacionXmlFuente" value="C:\inetpub\wwwroot\seguridad\Helper\Aplicacion.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

	</appSettings>
	<system.web>
		<authentication mode="Forms" xdt:Transform="Replace">
			<forms name="appLogin" loginUrl="http://10.50.90.4/portal/Account/Login" timeout="30" xdt:Transform="Replace"  xdt:Locator="Match(name)"/>
		</authentication>

	</system.web>

	<system.serviceModel xdt:Transform="Replace">
		<bindings>
			<basicHttpBinding>
				<!--256MB de pool-->
				<binding name="BasicHttpBinding_LibreriaSeguridad" maxBufferPoolSize="268435456"  maxBufferSize="268435456" maxReceivedMessageSize="268435456"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<!--PROD-->
			<endpoint address="http://10.50.90.4/TGP.WSS/Seguridad.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LibreriaSeguridad"
					  contract="SRSeguridad.LibreriaSeguridad" name="BasicHttpBinding_LibreriaSeguridad"  />
		</client>
	</system.serviceModel>
</configuration>