/*Hoja de estilos de variables*/
/* md buttons */
/*Theme variables*/
/*tamaños*/
/*Sidebar*/
/*Fonts*/
/*Mixin para alterar fuentes*/
/*Mixin para ubicar objetos relativos*/
/*@font-face {
    font-family: "sigaf-font";
    src: url("../icons/sigaf-font/sigaf-font.eot");
    src: url("../icons/sigaf-font/sigaf-font.eot?#iefix") format("embedded-opentype"), url("../icons/sigaf-font/sigaf-font.woff") format("woff"), url("../icons/sigaf-font/sigaf-font.ttf") format("truetype"), url("../icons/sigaf-font/sigaf-font.svg#sigaf-font") format("svg");
    font-weight: normal;
    font-style: normal;
}*/
/*------------------------------------------------*/
/*	Skin: Manejo de Errores
/*------------------------------------------------*/
span.error {
  color: #e53935;
  font: 400 14px / 1.42857143 "Roboto", sans-serif;
}
p.error {
  font: 400 14px / 1.42857143 "Roboto", sans-serif;
  color: #e53935;
}
a.enviarformulario {
  font-family: Arial;
  font-size: 12px;
  padding: 7px;
  background-color: #e53935;
  color: white;
  cursor: pointer;
}
a.enviarformulario:hover {
  text-decoration: none;
  background-color: #f9be45;
  color: white;
}
a.enviarformulario2 {
  font-family: Arial;
  font-size: 12px;
  padding: 7px;
  background-color: #246195;
  color: white;
  cursor: pointer;
}
a.enviarformulario2:hover {
  text-decoration: none;
  background-color: #f9be45;
  color: white;
}
