<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="nhibernateSettings" type="TGP.WSS.OpenSessionInViewSection, TGP.WSS"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!-- Nro de Version del Servicio -->
    <add key="version" value="1.2.2.RC1" />
    <add key="dateVersion" value="21-07-2021" />
    <!--IP del server LDAP-->
    <add key="LDAPSERVER" value="192.168.1.1"/>
    <!--The target organizational unit -->
    <add key="TARGET_OU" value="OU=teso,DC=tesoreria,DC=gba,DC=gov,DC=ar"/>
    <!-- URL del Monitor para Signal -->
    <add key="URL_SIGNAL_HUB_SERVER01" value="http://10.50.90.4/seguridad/"/>
    <!-- URL del portal que se utiliza para el cambio de la contraseña-->
    <add key="PortalURL" value="http://localhost:33567/"/>
    <!-- Clave para buscar los token dentro de TGP_PARAMETRO-->
    <add key="NOMBRE_TOKEN" value="TOKEN_SSO"/>
    <!-- Conexion a la Base de Datos -->
    <add key="SegDB" value="zConexiones/ConectionDB-SEG-TEST.config"/>
    <!--Clave de acceso del servicio de seguridad-->
    <add key="CLAVE_SERVICIO" value="20tgp17"/>
    <add key="conOracle" value="10.50.90.117:1521/PRE1"/>
    <!--<add key="conOracle" value="192.168.140.20:1528/DESACG" />-->
    <add key="imagenes" value="http://sigafpba.tesoreria.gba.gov.ar/ResourceDesign/Imagenes/" />
    <add key="EMAIL_TO" value="portal@tesoreria.gba.gov.ar" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="None"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>